body {
    background: white;
    background-size: auto 100vh;
    margin-left: 25px;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: whitesmoke;
    top: 0;
    padding: 5px;
    position: fixed;
    width: 100vw;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  .menu li {
      list-style: none;
  }

  .logo {
    line-height: 10em;
    padding: 5em;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .sobre {
    font-size: 20px;
    height: 600px;
  }

  .sobre p {
    text-align: center;
  }

  .portifolio .grid {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
    padding: 50px;
    text-align: center;
  }
  
  @media (min-width:360px){
  .portifolio .grid {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    justify-content: center;
    padding: 50px;
    text-align: center;
  }
  }

  .portifolio img {
    
  }

  .icons {
    justify-content: center;
    height: 500px;
    padding: 50px;
    width: auto;
  }

  .contato a {
    color: black;
    font-size: 1.2em;
    padding: 40px;
    margin-top: 5em;
    text-decoration: none;
    transition: text-shadow 1.5s;
  }

  .contato a:hover {
    text-shadow: 5px 5px blue;
  }

  .contato .icons {
      font-size: 5em;
      text-align: center;
      text-decoration: none;
    }

  .rodapé {
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.4em;
    text-align: center;
  }