body {
    background: white;
    background-size: auto 100vh;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    top: 0;
    position: fixed;
    width: 100vw;
  }

  .menu li {
      list-style: none;
  }

  .titulo {
    line-height: 10em;
    padding: 5em;
    text-align: center;
  }

  .sobre {
  }

  .contato .icons {
      font-size: 5em;
      text-align: center;
      text-decoration: none;
  }

  .rodapé {
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.4em;
    text-align: center;
  }